@font-face {
  font-family: "Pakati";
  src: url("./resources/font/PurePakati-Notch.otf");
}

[x] {
  display: none !important;
}

body {
  background-color: $bkg-black;
  margin: 0;
}

h1 {
  font-family: "Pakati", sans-serif;
  color: $off-white;
  font-size: 72px;
  margin: 0;
}

h2 {
  margin: 0;
  font-family: "Condiment", cursive;
  color: $off-white;
  font-size: 72px;
  font-weight: 500;
}

h3 {
  font-family: "Condiment", cursive;
  color: $off-white;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.nav-bar {
  padding: 16px;

  img {
    width: min(436px, 100%);
  }
}

ul.breadcrumb {
  padding: 0px;
  margin: 16px 0px;
  list-style: none;
  color: $off-white;
  font-family: "Inter", sans-serif;

  & li {
    display: inline;
    font-size: 16px;
  }

  & li + li::before {
    padding: 8px;
    color: $off-white;
    content: "|\00a0";
  }

  & li a {
    color: $off-white;
    text-decoration: none;
  }

  & li a:hover {
    color: $cta-green;
    text-decoration: underline;
  }
}

input,
button {
  border-radius: 5px;
  padding: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border: none;
}

button {
  background-color: $cta-green;
  color: $off-white;

  &.secondary {
    border: 3px solid $cta-green;
    background-color: $bkg-black;
    color: $off-white;
  }
}

footer {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  border: $border-size solid $cta-green;
  margin: 48px 64px;
  padding: 32px;
  gap: 8px;
  position: relative;

  .footer-logo {
    background-color: $bkg-black;
    position: absolute;
    bottom: 100%;
    transform: translate(-50%, 50%);
    left: 50%;
    padding: 0 16px;
  }

  .title {
    font-family: "Inter", sans-serif;
    color: $off-white;
    font-weight: 700;
    font-size: 24px;
  }

  .find-us {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .social-media {
      display: flex;
      gap: 8px;
    }

    p {
      font-family: "Inter", sans-serif;
      color: $off-white;
      margin: 0;
      padding: 8px;
    }
  }

  .contact-us,
  .our-sites,
  .help,
  .help-overflow {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .title {
      font-family: "Inter", sans-serif;
      color: $off-white;
      font-weight: 700;
      font-size: 24px;
    }

    p {
      font-family: "Inter", sans-serif;
      color: $off-white;
      margin: 0;
      padding: 8px;
    }
  }
}
