@charset "UTF-8";
@font-face {
  font-family: "Pakati";
  src: url("./resources/font/PurePakati-Notch.otf");
}
[x] {
  display: none !important;
}

body {
  background-color: #171717;
  margin: 0;
}

h1 {
  font-family: "Pakati", sans-serif;
  color: #f5f5f5;
  font-size: 72px;
  margin: 0;
}

h2 {
  margin: 0;
  font-family: "Condiment", cursive;
  color: #f5f5f5;
  font-size: 72px;
  font-weight: 500;
}

h3 {
  font-family: "Condiment", cursive;
  color: #f5f5f5;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.nav-bar {
  padding: 16px;
}
.nav-bar img {
  width: min(436px, 100%);
}

ul.breadcrumb {
  padding: 0px;
  margin: 16px 0px;
  list-style: none;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
}
ul.breadcrumb li {
  display: inline;
  font-size: 16px;
}
ul.breadcrumb li + li::before {
  padding: 8px;
  color: #f5f5f5;
  content: "| ";
}
ul.breadcrumb li a {
  color: #f5f5f5;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #41913c;
  text-decoration: underline;
}

input,
button {
  border-radius: 5px;
  padding: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border: none;
}

button {
  background-color: #41913c;
  color: #f5f5f5;
}
button.secondary {
  border: 3px solid #41913c;
  background-color: #171717;
  color: #f5f5f5;
}

footer {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  border: 3px solid #41913c;
  margin: 48px 64px;
  padding: 32px;
  gap: 8px;
  position: relative;
}
footer .footer-logo {
  background-color: #171717;
  position: absolute;
  bottom: 100%;
  transform: translate(-50%, 50%);
  left: 50%;
  padding: 0 16px;
}
footer .title {
  font-family: "Inter", sans-serif;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 24px;
}
footer .find-us {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
footer .find-us .social-media {
  display: flex;
  gap: 8px;
}
footer .find-us p {
  font-family: "Inter", sans-serif;
  color: #f5f5f5;
  margin: 0;
  padding: 8px;
}
footer .contact-us,
footer .our-sites,
footer .help,
footer .help-overflow {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
footer .contact-us .title,
footer .our-sites .title,
footer .help .title,
footer .help-overflow .title {
  font-family: "Inter", sans-serif;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 24px;
}
footer .contact-us p,
footer .our-sites p,
footer .help p,
footer .help-overflow p {
  font-family: "Inter", sans-serif;
  color: #f5f5f5;
  margin: 0;
  padding: 8px;
}

#accommodations {
  margin-bottom: 72px;
}

.accommodation-landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 64px;
}
.accommodation-landing span {
  font-family: "Inter", sans-serif;
  color: #f5f5f5;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}
.accommodation-landing .filters {
  display: grid;
  grid-template-columns: 5ch 1fr 100px;
  margin: 0 32px;
  gap: 16px;
  margin-top: -16px;
}
.accommodation-landing .filters input,
.accommodation-landing .filters button {
  width: 100%;
}

.dwellings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 64px;
}

.accommodation-card {
  display: flex;
  flex-direction: column;
  border: 3px solid #41913c;
  margin-top: 32px;
  padding: 0 16px 32px;
  position: relative;
}
.accommodation-card .photo-reel {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin-top: -32px;
}
.accommodation-card .photo-reel .carousel-toolbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accommodation-card .photo-reel .carousel-toolbar button {
  font-size: 20px;
  box-shadow: 0 0 0 2px #171717;
}
.accommodation-card .photo-reel .carousel-toolbar .carousel-chips {
  display: flex;
  gap: 8px;
}
.accommodation-card .photo-reel .carousel-toolbar .carousel-chips .carousel-chip {
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid #171717;
}
.accommodation-card .photo-reel .carousel-toolbar .carousel-chips .carousel-chip.selected {
  background-color: #41913c;
}
.accommodation-card .photo-reel img {
  display: block;
  margin: 0 auto;
  width: 95%;
  opacity: 0;
  transition: opacity 250ms ease;
  grid-row: 1;
  grid-column: 1;
}
.accommodation-card .photo-reel img.selected {
  opacity: 1;
}
.accommodation-card .accommodation-type {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  border-bottom: 3px solid #41913c;
}
.accommodation-card .accommodation-type span {
  font-family: "Inter", sans-serif;
  color: #f5f5f5;
  font-size: 24px;
  font-weight: 700;
}
.accommodation-card .accommodation-type .rating {
  display: flex;
  gap: 6px;
}
.accommodation-card .accommodation-type .star {
  width: 1em;
  height: 1em;
}
.accommodation-card p {
  font-family: "Inter", sans-serif;
  color: #f5f5f5;
  font-weight: 300;
}
.accommodation-card .info-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 8px;
}
.accommodation-card .info-title .name {
  display: flex;
  gap: 16px;
  align-items: baseline;
}
.accommodation-card .info-title h2 {
  font-size: 48px;
  margin: 0;
}
.accommodation-card .info-title .price {
  font-family: "Inter", sans-serif;
  color: #41913c;
  font-size: 36px;
  font-weight: 800;
  margin: 0;
}
.accommodation-card .info-title .per-night {
  font-size: 20px;
  font-weight: 700;
}
.accommodation-card .info-three-icons {
  margin-top: 0 auto;
}
.accommodation-card .info-three-icons,
.accommodation-card .amenity-icons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 4px;
  font-weight: 700;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: #f5f5f5;
}
.accommodation-card .info-three-icons > *,
.accommodation-card .amenity-icons > * {
  display: flex;
  align-items: center;
  gap: 1ch;
}
.accommodation-card .info-three-icons img,
.accommodation-card .amenity-icons img {
  height: 1.5em;
  width: 1.5em;
}
.accommodation-card .amenity-icons {
  font-size: 14px;
  margin-top: auto;
}
.accommodation-card .amenity-icons .amenity-icon {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.accommodation-card .food-modal {
  display: flex;
  flex-direction: column;
  background-color: #171717;
  color: #f5f5f5;
  padding: 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  box-shadow: 0 -3px 0 0 #41913c, 0 -38px 0 0 #171717;
  transition: opacity 250ms ease;
  pointer-events: none;
}
.accommodation-card .food-modal button {
  display: block;
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 20px;
  box-shadow: 0 0 0 3px #171717;
  pointer-events: all;
}
.accommodation-card .food-modal ul {
  font-size: 16px;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}
.accommodation-card .food-modal span {
  font-size: 20px;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.accommodation-card .food-options {
  padding: 16px;
}
.accommodation-card .kitchen {
  position: relative;
}
.accommodation-card .kitchen img {
  height: 100%;
  width: 100%;
}
.accommodation-card .kitchen h2 {
  background-color: rgba(85, 85, 85, 0.5);
  font-size: 48px;
  padding: 0px 16px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.accommodation-card .actions {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  transform: translateY(50%);
  gap: 32px;
  margin: 0 auto;
  font-size: 24px;
}
.accommodation-card button {
  display: block;
  font-size: inherit;
  padding: 6px 20px;
}

#pay-me-message {
  display: flex;
  flex-direction: column;
  background-color: #171717;
  border: 2px solid #41913c;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5f5f5;
  justify-content: center;
  align-items: center;
  font-family: "Condiment", cursive;
  font-size: 32px;
  gap: 32px;
  pointer-events: none;
  padding: 32px;
}
#pay-me-message .payment-methods {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: "Inter", sans-serif;
  padding: 16px;
  gap: 8px;
}
#pay-me-message .payment-methods .payment-method {
  background-color: #333;
  border-radius: 10px;
  padding: 16px;
  font-size: 8px;
}
#pay-me-message .payment-methods .price {
  font-weight: 800;
  color: #41913c;
  font-size: 24px;
}
@-webkit-keyframes text-pulse {
  from {
    color: #41913c;
  }
  to {
    color: rgba(65, 145, 60, 0.6);
  }
}
@keyframes text-pulse {
  from {
    color: #41913c;
  }
  to {
    color: rgba(65, 145, 60, 0.6);
  }
}
#pay-me-message .payment-methods .price.pulse {
  -webkit-animation: text-pulse 250ms ease infinite alternate;
          animation: text-pulse 250ms ease infinite alternate;
}
#pay-me-message .payment-methods .price.big {
  font-size: 28px;
}
#pay-me-message .payment-methods ul {
  padding: 12px;
  font-size: 12px;
}
#pay-me-message .fine-print {
  font-size: 8px;
}

@media (max-width: 1060px) {
  #accommodations {
    margin: 32px;
  }
  .accommodation-card .photo-reel .carousel-toolbar button {
    font-size: 14px;
  }
  .accommodation-card .photo-reel .carousel-toolbar button button {
    padding: 4px 16px;
  }
  .dwellings {
    width: 100%;
  }
  .dwellings .info-title h2 {
    font-size: 34px;
  }
  .dwellings .info-title h3 {
    font-size: 20px;
  }
  .dwellings .info-title .price {
    font-size: 32px;
  }
  .dwellings .info-title .per-night {
    font-size: 16px;
  }
  .dwellings .info-three-icons {
    font-size: 14px;
  }
  .dwellings .amenity-icons span {
    display: none;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 72px;
  }
}
@media (max-width: 790px) {
  .accommodation-card .photo-reel .carousel-toolbar button {
    font-size: 14px;
  }
  .accommodation-card .photo-reel .carousel-toolbar button button {
    padding: 4px 16px;
  }
  .dwellings {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .dwellings .info-title h2 {
    font-size: 48px;
  }
  .dwellings .info-title h3 {
    font-size: 32px;
  }
  .dwellings .info-title .price {
    font-size: 36px;
  }
  .dwellings .info-title .per-night {
    font-size: 20px;
  }
  .dwellings .info-three-icons {
    font-size: 18px;
  }
  .dwellings .amenity-icons span {
    display: flex;
  }
  .dwellings .actions button {
    font-size: 20px;
  }
  .dwellings footer {
    grid-template-columns: repeat(2, 1fr);
  }
  .dwellings .footer-logo {
    width: 100%;
  }
  .dwellings .footer-logo img {
    display: block;
    width: 95%;
    margin: 0 auto;
  }
}
@media (max-width: 525px) {
  .accommodation-landing {
    gap: 16px;
    margin-bottom: 32px;
  }
  .accommodation-landing h1 {
    font-size: 52px;
  }
  .accommodation-landing span {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .accommodation-landing * ~ section {
    margin-top: 0;
  }
  .accommodation-landing .filters {
    grid-template-columns: 5ch 1fr;
  }
  .accommodation-landing .filters button {
    grid-column: span 2;
  }
  .dwellings {
    width: 100%;
  }
  .dwellings .info-title .name {
    align-items: center;
  }
  .dwellings .info-title h2 {
    font-size: 34px;
  }
  .dwellings .info-title h3 {
    font-size: 20px;
  }
  .dwellings .info-title .price {
    font-size: 28px;
  }
  .dwellings .info-title .per-night {
    font-size: 14px;
  }
  .dwellings .info-three-icons {
    font-size: 12px;
  }
  .dwellings .amenity-icons span {
    display: none;
  }
  .accommodation-card .photo-reel .carousel-toolbar button {
    font-size: 14px;
  }
  .accommodation-card .photo-reel .carousel-toolbar button button {
    padding: 4px 16px;
  }
  .actions button {
    font-size: 16px;
  }
  footer {
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
    margin-top: 64px;
    box-sizing: border-box;
  }
  footer .help-overflow .title {
    display: none;
  }
  .footer-logo {
    width: 100%;
  }
  .footer-logo img {
    display: block;
    width: 95%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=accommodation.css.map */