@import "vars.scss";
@import "common.scss";

* ~ section {
  margin-top: 32px;
}

section > .title {
  color: $off-white;

  > p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 24px;
    width: 60vw;
  }
}



#landing-page {
  display: flex;
  flex-direction: column;
  background-image: url(./resources/images/landing-image-tub.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.dwellings-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: $border-size solid $cta-green;
  width: min(500px, 90vw);
  border-top: none;
  background-color: $bkg-fade;
  position: absolute;
  padding-bottom: 16px;
  left: 50%;
  top: 50%;
  transform: translate(
    -50%,
    -51%
  ); //51% is the magic number to work around the render bugs

  &:before,
  &:after {
    content: "";
    display: block;
    height: $border-size;
    position: absolute;
    bottom: 100%;
    left: -$border-size;
    width: 32px;
    background-color: $cta-green;
  }

  &:after {
    right: -$border-size;
    left: unset;
  }

  > h2 {
    position: relative;
    top: -0.5em;
    isolation: isolate;

    &:before {
      $pad: 24px;
      content: "";
      background-color: $bkg-fade;
      display: block;
      position: absolute;
      left: -$pad;
      right: -$pad;
      top: -$pad * 0.8;
      height: calc(0.5em + #{$pad * 0.8});
      z-index: -1;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
  }

  > h2 span {
    font-size: 0.6em;
  }

  .filters {
    display: grid;
    grid-template-columns: 1fr 1fr 0.8fr;
    margin: 0 32px;
    gap: 16px;
    margin-top: -16px;

    input,
    button {
      width: 100%;
    }
  }
}

#accommodation-select {
  padding: 16px;
  margin: 0 auto;

  .title {
    margin-top: 16px;
    margin-bottom: 16px + 32px; //32px to compensate for the broken out image
  }

  .grid-column-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    gap: 64px;
  }

  .accommodation-card {
    border: $border-size solid $cta-green;
    margin-top: 64px;
    padding: 0 24px 48px;
    position: relative;

    .card-img {
      display: block;
      width: 100%;
      height: 400px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      top: -64px;
      margin-bottom: -64px;

      &.hostel {
        background-image: url(./resources/images/the-dwellington/the-dwellington-front.jpg);
      }
      &.hotel {
        background-image: url(./resources/images/novotel-queenstown-lakeside/novotel-front.jpg);
      }
      &.motel {
        background-image: url(./resources/images/futuna-rocks-motel/futuna-rocks-front.jpg);
      }
      &.houses {
        background-image: url(./resources/images/dream-inn/dream-inn-front.jpg);
      }
    }

    h2 {
      font-family: "Inter", sans-serif;
      font-size: 42px;
      position: absolute;
      margin: 0;
      padding: 0 16px;
      top: 100%;
      left: 50%;
      text-align: center;
      background-color: $bkg-black;
      transform: translate(-50%, -50%);
      line-height: 1;
    }
  }
}

#where-next {
  max-width: 2080px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}

.three-img-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 16px;

  &.flipped {
    grid-template-columns: 1fr 1fr 2fr;
    margin-top: 16px;
  }

  .img-card {
    height: 330px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &.hidden-gem {
      background-image: url(./resources/images/where-section/hidden-gem.jpg);
    }
    &.unique-island {
      background-image: url(./resources/images/where-section/unique-island.jpg);
    }
    &.blue-wonders {
      background-image: url(./resources/images/where-section/blue-wonders.jpg);
    }
    &.best-beaches {
      background-image: url(./resources/images/where-section/best-beaches.jpg);
    }
    &.best-sunrise {
      background-image: url(./resources/images/where-section/best-sunrise.jpg);
    }
    &.waterfalls {
      background-image: url(./resources/images/where-section/waterfalls.jpg);
    }

    .description-link {
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      padding: 16px;
      text-align: left;
      text-decoration: none;
      background-color: $bkg-fade;
      backdrop-filter: blur(10px);

      a {
        color: $off-white;
        font-family: "Inter", sans-serif;
        text-decoration: none;
      }
    }
  }
}

footer {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  border: $border-size solid $cta-green;
  margin: 48px 64px;
  padding: 32px;
  gap: 8px;
  position: relative;

  .footer-logo {
    background-color: $bkg-black;
    position: absolute;
    bottom: 100%;
    transform: translate(-50%, 50%);
    left: 50%;
    padding: 0 16px;
  }

  .title {
    font-family: "Inter", sans-serif;
    color: $off-white;
    font-weight: 700;
    font-size: 24px;
  }

  .find-us {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .social-media {
      display: flex;
      gap: 8px;
    }

    p {
      font-family: "Inter", sans-serif;
      color: $off-white;
      margin: 0;
      padding: 8px;
    }
  }

  .contact-us,
  .our-sites,
  .help,
  .help-overflow {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .title {
      font-family: "Inter", sans-serif;
      color: $off-white;
      font-weight: 700;
      font-size: 24px;
    }

    p {
      font-family: "Inter", sans-serif;
      color: $off-white;
      margin: 0;
      padding: 8px;
    }
  }
}

@media (max-width: 1130px) {
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 770px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 590px) {
  h1 {
    font-size: 52px;
  }

  * ~ section {
    margin-top: 0;
  }
  section > .title > p {
    font-size: 16px;
    width: auto;
  }

  .dwellings-card {
    &:before,
    &:after {
      display: none;
    }
    h2 {
      font-size: 52px;
    }

    .filters {
      grid-template-columns: 1fr 1fr;

      button {
        grid-column: span 2;
      }
    }
  }

  #accommodation-select {
    .title {
      margin-bottom: 16px;
    }

    .accommodation-card {
      padding: 8px;
      padding-bottom: 16px;
      margin: 0;
      margin-bottom: 16px;

      h2 {
        font-size: 20px;
      }

      .card-img {
        height: auto;
        aspect-ratio: 1;
        top: 0;
        margin: 0;
      }
    }

    .grid-column-two {
      gap: 16px;
    }
  }

  #where-next {
    p {
      font-size: 16px;
      width: auto;
    }
  }

  .three-img-grid {
    grid-template-columns: 1fr 1fr;

    :nth-child(1) {
      grid-column: span 2;
    }

    .img-card {
      height: 175px;

      .description-link {
        font-size: 12px;
      }
    }

    &.flipped {
      grid-template-columns: 1fr 1fr;
    }
  }

  footer {
    grid-template-columns: 1fr;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    .help-overflow .title {
      display: none;
    }
  }

  .footer-logo {
    width: 100%;
    padding: 16px;
    img {
      display: block;
      width: 95%;
      margin: 0 auto;
    }
  }
}

// ACCOMMODATION SUGGESTION PAGE
