@charset "UTF-8";
@font-face {
  font-family: "Pakati";
  src: url("./resources/font/PurePakati-Notch.otf");
}
[x] {
  display: none !important;
}

body {
  background-color: #171717;
  margin: 0;
}

h1 {
  font-family: "Pakati", sans-serif;
  color: #f5f5f5;
  font-size: 72px;
  margin: 0;
}

h2 {
  margin: 0;
  font-family: "Condiment", cursive;
  color: #f5f5f5;
  font-size: 72px;
  font-weight: 500;
}

h3 {
  font-family: "Condiment", cursive;
  color: #f5f5f5;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.nav-bar {
  padding: 16px;
}
.nav-bar img {
  width: min(436px, 100%);
}

ul.breadcrumb {
  padding: 0px;
  margin: 16px 0px;
  list-style: none;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
}
ul.breadcrumb li {
  display: inline;
  font-size: 16px;
}
ul.breadcrumb li + li::before {
  padding: 8px;
  color: #f5f5f5;
  content: "| ";
}
ul.breadcrumb li a {
  color: #f5f5f5;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #41913c;
  text-decoration: underline;
}

input,
button {
  border-radius: 5px;
  padding: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border: none;
}

button {
  background-color: #41913c;
  color: #f5f5f5;
}
button.secondary {
  border: 3px solid #41913c;
  background-color: #171717;
  color: #f5f5f5;
}

footer {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  border: 3px solid #41913c;
  margin: 48px 64px;
  padding: 32px;
  gap: 8px;
  position: relative;
}
footer .footer-logo {
  background-color: #171717;
  position: absolute;
  bottom: 100%;
  transform: translate(-50%, 50%);
  left: 50%;
  padding: 0 16px;
}
footer .title {
  font-family: "Inter", sans-serif;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 24px;
}
footer .find-us {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
footer .find-us .social-media {
  display: flex;
  gap: 8px;
}
footer .find-us p {
  font-family: "Inter", sans-serif;
  color: #f5f5f5;
  margin: 0;
  padding: 8px;
}
footer .contact-us,
footer .our-sites,
footer .help,
footer .help-overflow {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
footer .contact-us .title,
footer .our-sites .title,
footer .help .title,
footer .help-overflow .title {
  font-family: "Inter", sans-serif;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 24px;
}
footer .contact-us p,
footer .our-sites p,
footer .help p,
footer .help-overflow p {
  font-family: "Inter", sans-serif;
  color: #f5f5f5;
  margin: 0;
  padding: 8px;
}

* ~ section {
  margin-top: 32px;
}

section > .title {
  color: #f5f5f5;
}
section > .title > p {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 24px;
  width: 60vw;
}

#landing-page {
  display: flex;
  flex-direction: column;
  background-image: url(./resources/images/landing-image-tub.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.dwellings-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #41913c;
  width: min(500px, 90vw);
  border-top: none;
  background-color: rgba(23, 23, 23, 0.5);
  position: absolute;
  padding-bottom: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -51%);
}
.dwellings-card:before, .dwellings-card:after {
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  bottom: 100%;
  left: -3px;
  width: 32px;
  background-color: #41913c;
}
.dwellings-card:after {
  right: -3px;
  left: unset;
}
.dwellings-card > h2 {
  position: relative;
  top: -0.5em;
  isolation: isolate;
}
.dwellings-card > h2:before {
  content: "";
  background-color: rgba(23, 23, 23, 0.5);
  display: block;
  position: absolute;
  left: -24px;
  right: -24px;
  top: -19.2px;
  height: calc(0.5em + 19.2px);
  z-index: -1;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.dwellings-card > h2 span {
  font-size: 0.6em;
}
.dwellings-card .filters {
  display: grid;
  grid-template-columns: 5ch 1fr 100px;
  margin: 0 32px;
  gap: 16px;
  margin-top: -16px;
}
.dwellings-card .filters input,
.dwellings-card .filters button {
  width: 100%;
}

#accommodation-select {
  padding: 16px;
  margin: 0 auto;
}
#accommodation-select .title {
  margin-top: 16px;
  margin-bottom: 48px;
}
#accommodation-select .grid-column-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  gap: 64px;
}
#accommodation-select .accommodation-card {
  border: 3px solid #41913c;
  margin-top: 64px;
  padding: 0 24px 48px;
  position: relative;
}
#accommodation-select .accommodation-card .card-img {
  display: block;
  width: 100%;
  height: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: -64px;
  margin-bottom: -64px;
}
#accommodation-select .accommodation-card .card-img.hostel {
  background-image: url(./resources/images/the-dwellington/the-dwellington-front.jpg);
}
#accommodation-select .accommodation-card .card-img.hotel {
  background-image: url(./resources/images/novotel-queenstown-lakeside/novotel-front.jpg);
}
#accommodation-select .accommodation-card .card-img.motel {
  background-image: url(./resources/images/futuna-rocks-motel/futuna-rocks-front.jpg);
}
#accommodation-select .accommodation-card .card-img.houses {
  background-image: url(./resources/images/dream-inn/dream-inn-front.jpg);
}
#accommodation-select .accommodation-card h2 {
  font-family: "Inter", sans-serif;
  font-size: 42px;
  position: absolute;
  margin: 0;
  padding: 0 16px;
  top: 100%;
  left: 50%;
  text-align: center;
  background-color: #171717;
  transform: translate(-50%, -50%);
  line-height: 1;
}

#where-next {
  max-width: 2080px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}

.three-img-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 16px;
}
.three-img-grid.flipped {
  grid-template-columns: 1fr 1fr 2fr;
  margin-top: 16px;
}
.three-img-grid .img-card {
  height: 330px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.three-img-grid .img-card.hidden-gem {
  background-image: url(./resources/images/where-section/hidden-gem.jpg);
}
.three-img-grid .img-card.unique-island {
  background-image: url(./resources/images/where-section/unique-island.jpg);
}
.three-img-grid .img-card.blue-wonders {
  background-image: url(./resources/images/where-section/blue-wonders.jpg);
}
.three-img-grid .img-card.best-beaches {
  background-image: url(./resources/images/where-section/best-beaches.jpg);
}
.three-img-grid .img-card.best-sunrise {
  background-image: url(./resources/images/where-section/best-sunrise.jpg);
}
.three-img-grid .img-card.waterfalls {
  background-image: url(./resources/images/where-section/waterfalls.jpg);
}
.three-img-grid .img-card .description-link {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 16px;
  text-align: left;
  text-decoration: none;
  background-color: rgba(85, 85, 85, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.three-img-grid .img-card .description-link a {
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

@media (max-width: 1130px) {
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 770px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 590px) {
  h1 {
    font-size: 52px;
  }
  * ~ section {
    margin-top: 0;
  }
  section > .title > p {
    font-size: 16px;
    width: auto;
  }
  .dwellings-card:before, .dwellings-card:after {
    display: none;
  }
  .dwellings-card h2 {
    font-size: 52px;
  }
  .dwellings-card .filters {
    grid-template-columns: 5ch 1fr;
  }
  .dwellings-card .filters button {
    grid-column: span 2;
  }
  #accommodation-select .title {
    margin-bottom: 16px;
  }
  #accommodation-select .accommodation-card {
    padding: 8px;
    padding-bottom: 16px;
    margin: 0;
    margin-bottom: 16px;
  }
  #accommodation-select .accommodation-card h2 {
    font-size: 20px;
  }
  #accommodation-select .accommodation-card .card-img {
    height: auto;
    aspect-ratio: 1;
    top: 0;
    margin: 0;
  }
  #accommodation-select .grid-column-two {
    gap: 16px;
  }
  #where-next p {
    font-size: 16px;
    width: auto;
  }
  .three-img-grid {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }
  .three-img-grid :nth-child(1) {
    grid-column: span 2;
  }
  .three-img-grid .img-card {
    height: 175px;
  }
  .three-img-grid .img-card .description-link {
    font-size: 12px;
  }
  .three-img-grid.flipped {
    grid-template-columns: 1fr 1fr;
  }
  footer {
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  footer .help-overflow .title {
    display: none;
  }
  .footer-logo {
    width: 100%;
  }
  .footer-logo img {
    display: block;
    width: 95%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */