@charset "UTF-8";
@font-face {
  font-family: "Pakati";
  src: url("./resources/font/PurePakati-Notch.otf");
}
[x] {
  display: none !important;
}

body {
  background-color: #171717;
  margin: 0;
}

h1 {
  font-family: "Pakati", sans-serif;
  color: #f5f5f5;
  font-size: 72px;
  margin: 0;
}

h2 {
  margin: 0;
  font-family: "Condiment", cursive;
  color: #f5f5f5;
  font-size: 72px;
  font-weight: 500;
}

h3 {
  font-family: "Condiment", cursive;
  color: #f5f5f5;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.nav-bar {
  padding: 16px;
}
.nav-bar img {
  width: min(436px, 100%);
}

ul.breadcrumb {
  padding: 0px;
  margin: 16px 0px;
  list-style: none;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
}
ul.breadcrumb li {
  display: inline;
  font-size: 16px;
}
ul.breadcrumb li + li::before {
  padding: 8px;
  color: #f5f5f5;
  content: "| ";
}
ul.breadcrumb li a {
  color: #f5f5f5;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #41913c;
  text-decoration: underline;
}

input,
button {
  border-radius: 5px;
  padding: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border: none;
}

button {
  background-color: #41913c;
  color: #f5f5f5;
}
button.secondary {
  border: 3px solid #41913c;
  background-color: #171717;
  color: #f5f5f5;
}

footer {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  border: 3px solid #41913c;
  margin: 48px 64px;
  padding: 32px;
  gap: 8px;
  position: relative;
}
footer .footer-logo {
  background-color: #171717;
  position: absolute;
  bottom: 100%;
  transform: translate(-50%, 50%);
  left: 50%;
  padding: 0 16px;
}
footer .title {
  font-family: "Inter", sans-serif;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 24px;
}
footer .find-us {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
footer .find-us .social-media {
  display: flex;
  gap: 8px;
}
footer .find-us p {
  font-family: "Inter", sans-serif;
  color: #f5f5f5;
  margin: 0;
  padding: 8px;
}
footer .contact-us,
footer .our-sites,
footer .help,
footer .help-overflow {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
footer .contact-us .title,
footer .our-sites .title,
footer .help .title,
footer .help-overflow .title {
  font-family: "Inter", sans-serif;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 24px;
}
footer .contact-us p,
footer .our-sites p,
footer .help p,
footer .help-overflow p {
  font-family: "Inter", sans-serif;
  color: #f5f5f5;
  margin: 0;
  padding: 8px;
}

.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}
.booking h1 {
  margin-bottom: 24px;
}
.booking span {
  font-size: 24px;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 32px;
}
.booking button {
  font-size: 20px;
  padding: 8px;
}

@media (max-width: 1060px) {
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 72px;
  }
}
@media (max-width: 790px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-logo {
    width: 100%;
  }
  .footer-logo img {
    display: block;
    width: 95%;
    margin: 0 auto;
  }
}
@media (max-width: 525px) {
  footer {
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
    margin-top: 64px;
    box-sizing: border-box;
  }
  footer .help-overflow .title {
    display: none;
  }
  .footer-logo {
    width: 100%;
  }
  .footer-logo img {
    display: block;
    width: 95%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=whoops.css.map */